body {
    background: #22272e;
    color: #ebebeb;
    font-size: 20px;
}
.h1, h1{
padding-bottom: 20px;
}

.h2, h2{
padding-bottom: 20px;
}

.h3, h3{
padding-bottom: 20px;
}

p {
    margin-bottom: 30px;
}
